<section class='item tab effects {{tab.cssClass}}' data-group='primary' data-tab='effects'>
  <div class="effects-list">
    <div class="effects-list-row">
      <div class="truncate bold">{{localize 'EFFECT.FIELDS.name.label'}}</div>
      <div class="truncate bold centre">{{localize 'BRP.effect'}}</div>
      <div class="centre truncate bold centre">{{localize 'BRP.amount'}}</div>
    </div>
    {{#each effectChanges as |effect|}}
      <div class="effects-list-row">
        <div class="truncate">{{localize effect.source}}</div>
        <div class="truncate centre">{{localize effect.name}}</div>
        {{#if effect.negative}}
          <div class="centre">-{{effect.value}}</div>
        {{else}}
          <div class="centre">{{effect.value}}</div>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{#if isGM}}
    <div class="effects-list">
      <div class="effects-list-row2">
        <div class="truncate bold">{{localize 'DOCUMENT.ActiveEffect'}}</div>
        <div class="centre rollable" data-tooltip="{{localize 'SIDEBAR.ACTIONS.CREATE.ActiveEffect'}}" data-action="createEffect"><i class="fas fa-plus"></i></div>
      </div>
      {{#each effects as |effect|}}
        <div class="effects-list-row2 item item-edit draggable" data-effect-id="{{effect.id}}">
          <div class="left rollable" data-tooltip="{{localize 'BRP.viewDoc' type=(localize 'DOCUMENT.ActiveEffect')}}" data-action="openActiveEffect" data-uuid="{{effect.uuid}}">
            <i class="fas fa-grip-vertical" aria-hidden="true"></i>
            {{effect.name}}
          </div>
          <div></div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</section>